<div class="container">
  <div class="row">
    <div class="col-md-16">
      <%= image_tag 'me.jpg', size: '1119x797', class: 'my-picture img-fluid' %>
    </div>
  </div>
  <div class="row">
    <h1 class="col-10 mt-4 text-white title-text">Hi, I'm Mark. I'm a self-taught full-stack Ruby on Rails developer.</h1>
    <div class="col-2 row d-flex flex-wrap align-items-center mt-4" id='socials'>
      <a href="https://github.com/MarkBezsonov"><%= image_tag 'github.jpg', class: 'float-end' %></a>
      <a href="https://github.com/MarkBezsonov"><%= image_tag 'linkedin.jpg', class: 'float-end' %></a>
      <a href="mailto: markbezsonov@gmail.com"><%= image_tag 'email.jpg', class: 'float-end' %></a>
    </div>
    <div class="border mt-4"></div>
  </div>

  <div class="anchors" id="about-me"></div>
  <h2 class="mt-4 subtitle-text">"Nice to meet you! Tell me about yourself."</h2>
  <p class="mt-4 text-white body-text">
    By the age-old process of finding oneself, I started my programming journey in November of 2020. As someone
    who is motivated by self-improvement, I have been challenging myself to learn and absorb
    many newfound aspects of programming with an aspiration to see a life-long career flourish. Through the
    hundreds of lessons that I have taken through Udemy, I have enhanced my knowledge from simple
    methods to entire full-stack websites. 
    <br><br>
    Although I enjoyed watching myself improve over time, it certainly wasn't easy! I quickly realized that with
    every hour spent on coursework and projects, there would be, <em>at the very least,</em> a handful spent 
    researching and fixing any hiccups that can (and certainly do) arise. This process was the perfect 
    balance of being rewarding enough to keep moving forward, but challenging enough to where the knowledge is properly 
    reinforced. As a whole, that is <em>exactly</em> what programming is to 
    me - a process of never-ending growth!
    <br><br>
    The creation of this portfolio marks a just over a year since I started delving into the programming world. I
    hope to continue this odyssey alongside you and your team!
  </p>

  <div class="anchors" id="my-credentials"></div>
  <h2 class="mt-4 subtitle-text">"I see. What do you bring to the table?"</h2>
  <p class="mt-4 text-white body-text">
    Asides from the ability to work with a team and the constant yearning for growth, I've also got the
    technical skills to make the magic happen:
  </p>
  <div class="container">
    <div class="row col-md-12">
      <div class="col-1"></div>
      <ul class="col-7 text-white"><h4 class='mt-4 mb-4'>Hard Skills:</h4>
        <li>Ruby v2-3</li>
        <li>Javascript (Basic)</li>
        <li>Sinatra Full-Stack Utilization</li>
        <li>Rails v5-6 Full-Stack Utilization</li>
        <li>HTML</li>
        <li>(S)CSS</li>
        <li>Bootstrap v4-5</li>
        <li>jQuery (Basic)</li>
        <li>Chart.js</li>
        <li>Semantic-UI</li>
        <li>ActionCable via WebSocket</li>
        <li>Devise Authentication</li>
        <li>AJAX</li>
        <li>API Utilization</li>
        <li>Nokogiri Web Scraping</li>
        <li>CLI Creation/Implementation</li>
        <li>Sendgrid Email Implementation</li>
        <li>Stripe API Secure Payment Implementation</li>
        <li>AWS S3 Bucket Implementation</li>
        <li>SQLite3</li>
        <li>Russian</li>
        <li>French (Basic)</li>
      </ul>
      <ul class="col-4 text-white"><h4 class="mt-4 mb-4">Soft Skills:</h4>
        <li>Quick Learner</li>
        <li>Leadership</li>
        <li>Public Speaking</li>
        <li>Organization</li>
        <li>Attention to Detail</li>
        <li>Positive Outlook</li>
        <li>Team Oriented</li>
        <li>Discipline</li>
        <li>Time Management</li>
        <li>Work Ethic</li>
        <li>Multitasking</li>
        <li>Decision Making</li>
        <li>Performance Under Pressure</li>
        <li>Problem Solving</li>
        <li>Flexibility</li>
        <li>Relationship Building</li>
        <li>Accountability</li>
        <li>Dependability</li>
        <li>Integrity</li>
        <li>Effective Communication</li>
        <li>Critical Thinking</li>
        <li>Goal Setting</li>
      </ul>
    </div>
  </div>
  <p class="mt-4 text-white body-text credentials">
    You can also view my Udemy course certificate <a href="/assets/resume.pdf">here</a> and my resume <a href="/assets/udemy-certificate.jpg">here</a>!
  </p>

  <div class="anchors" id="my-work"></div>
  <h2 class="mt-4 subtitle-text">"Interesting. Can you prove it?"</h2>
  <p class="mt-4 text-white body-text">
    You got it! I have a total of five websites built from scratch using Bootstrap (<em>including this one!</em>) and
    Semantic-UI for the Message Me app!
    Below are the links to each website:
  </p>
  <p class="testing col-10 mt-4 text-white body-text">
    <em>For Testing, Feel Free to Use the Following:</em>
    <li class="testing text-white"><i><u>Username</u></i>: markbezsonov@gmail.com</li>
    <li class="testing text-white mb-4"><i><u>Password</u></i>: password</li>
  </p>
  <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
    <div class="col">
      <div class="card">
        <a href="https://markbezsonov-alpha-blog.herokuapp.com/"><%= image_tag 'alpha-blog.jpg', class: 'card-img-top' %></a>
        <div class="card-body">
          <h5 class="card-title"><a href="https://markbezsonov-alpha-blog.herokuapp.com/">Alpha Blog</a></h5>
          <p class="card-text">
            A blog application that ties in users, articles, and categories. Features administrative features.
          </p>
          <p><a class="card-text" href="https://github.com/MarkBezsonov/alpha_blog">View GitHub Repository</a></p>
          <p class="card-text">Technologies featured:
            <ul class=col-md-6>
              <li>Ruby v2</li>
              <li>Rails v6</li>
              <li>HTML</li> 
              <li>(S)CSS</li>
              <li>Bootstrap v5</li>
              <li>jQuery (Basic)</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="https://markbezsonov-message-me.herokuapp.com/"><%= image_tag 'message-me.jpg', class: 'card-img-top' %></a>
        <div class="card-body">
          <h5 class="card-title"><a href="https://markbezsonov-message-me.herokuapp.com/">Message Me</a></h5>
          <p class="card-text">
            A simple messaging application that utilizes users and messages. Uses ActionCable to keep up-to-date in real time.
          </p>
          <p><a class="card-text" href="https://github.com/MarkBezsonov/message_me">View GitHub Repository</a></p>
          <p class="card-text">Technologies featured:
            <ul class=col-md-6>
              <li>Ruby v2</li>
              <li>Rails v5</li>
              <li>HTML</li>
              <li>(S)CSS</li>
              <li>Semantic UI</li>
              <li>ActionCable via Websocket</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="https://markbezsonov-finance-tracker.herokuapp.com/"><%= image_tag 'finance-tracker.jpg', class: 'card-img-top' %></a>
        <div class="card-body">
          <h5 class="card-title"><a href="https://markbezsonov-finance-tracker.herokuapp.com/">Finance Tracker</a></h5>
          <p class="card-text">
            A stock tracking application that uses the IEX Cloud API to provide users with real-time information 
            regarding the stocks of their choice. Users can add stocks to keep track of to their personal portfolio,
            each stock having its own dedicated information page. Users may also add friends and see their
            portfolios.
          </p>
          <p class="card-text text-danger">  
            Please note that the values are in the free sandbox mode and hence incoherent to realistic values. 
            This could hypothetically be fixed with a paid plan, but the application is strictly for 
            demonstration purposes.</strong>
          </p>
          <p><a class="card-text" href="https://github.com/MarkBezsonov/finance_tracker">View GitHub Repository</a></p>
          <p class="card-text">Technologies featured:
            <ul>
              <li>Ruby v3</li>
              <li>Rails v6</li>
              <li>HTML</li>
              <li>(S)CSS</li>
              <li>Bootstrap v4</li>
              <li>jQuery (Basic)</li>
              <li>Chart.js</li>
              <li>Devise Authentication</li>
              <li>AJAX</li>
              <li>API Utilization</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="https://markbezsonov-photo-app.herokuapp.com/"><%= image_tag 'photo-app.jpg', class: 'card-img-top' %></a>
        <div class="card-body">
          <h5 class="card-title"><a href="https://markbezsonov-photo-app.herokuapp.com/">Photo App</a></h5>
          <p class="card-text">
            A picture storage application that where users have access to unlimited image uploads from any
            remote device. Features Sendgrid for email confirmation and Stripe for payment handling.
          </p>
          <p class="card-text text-success">
            Stripe Test CC#: 4242-4242-4242-4242<br>
            Stripe Test CCV: 111<br>
          </p>
          <p><a class="card-text" href="https://github.com/MarkBezsonov/photo_app">View GitHub Repository</a></p>
          <p class="card-text">Technologies featured:
            <ul>
              <li>Ruby v3</li>
              <li>Rails v6</li>
              <li>HTML</li>
              <li>(S)CSS</li>
              <li>Bootstrap v4</li>
              <li>jQuery (Basic)</li>
              <li>Devise Authentication</li>
              <li>AJAX</li>
              <li>API Utilization</li>
              <li>Sendgrid Email Implementation</li>
              <li>Stripe API Secure Payment Implementation</li>
              <li>AWS S3 Bucket Implementation</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="anchors" id="contact-me"></div>
  <h2 class="mt-4 subtitle-text">"I like what I see! How can we get in touch?"</h2>
  <p class="mt-4 text-white body-text">
    To keep our wonderful conversation going, feel free to click/tap on your preferred platform below:
  </p>
  <div class="col-md-12 text-center mt-4" id='socials'>
    <a href="https://github.com/MarkBezsonov"><%= image_tag 'github.jpg', class: 'm-4' %></a>
    <a href="https://www.linkedin.com/in/mark-b-31947b11a/"><%= image_tag 'linkedin.jpg', class: 'm-4' %></a>
    <a href="mailto: markbezsonov@gmail.com"><%= image_tag 'email.jpg', class: 'm-4' %></a>
  </div>
  <p class="mt-4 text-white body-text">
    This conversation was great! In the meanwhile, I will be preparing for our <em>real</em> one on one, coffee on me! I'll see you then!
  </p>
</div>