<div class="container">
  <div class="row">
    <%= image_tag 'me.jpg', size: '1119x797', class: 'my-picture img-fluid' %>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <h1 class="col-8 mt-4 text-white" id="greeting">Hi, I'm Mark. I'm an IT engineer and full-stack developer.</h1>
    <div class="col-2 row d-flex flex-wrap align-items-center mt-4" id='socials'>
      <a href="https://github.com/MarkBezsonov" target="_blank"><%= image_tag 'github.jpg', class: 'float-end start-socials' %></a>
      <a href="https://www.linkedin.com/in/mark-b-31947b11a/" target="_blank"><%= image_tag 'linkedin.jpg', target: :_blank, class: 'float-end start-socials' %></a>
      <a href="mailto: markbezsonov@gmail.com?subject=Regarding%20Your%20Portfolio"><%= image_tag 'email.jpg', class: 'float-end start-socials' %></a>
    </div>
    <div class="col-1"></div>

    <div class="col-1"></div>
      <a href="#about" class="btn btn-outline-secondary btn-lg col-3 mt-4 mx-auto nav-button">About</a>
      <a href="#projects" class="btn btn-outline-secondary btn-lg col-3 mt-4 mx-auto nav-button">Projects</a>
      <a href="#contact" class="btn btn-outline-secondary btn-lg col-3 mt-4 mx-auto nav-button">Contact</a>
    <div class="col-1"></div>
  </div>

  <div id="about"></div>
  <h2 class="mt-4 subtitle-text text-center" id="about-subtitle">About</h2>
  
  <div class="row">
    <div class="col-1"></div>
    <p class="mt-4 text-white body body-text text-center col-10">
      I am a full-stack Ruby on Rails developer who strives to always be working on his craft and learning 
      new things! I enjoy staying on top of the latest technological trends/technologies and do what I can to 
      implement them into the projects that I work on. In my spare time, I also frequent the gym and produce 
      electronic music.
      <br></br>
      My current language and technology digital toolbox:
    </p>
  </div>
  <div class="container">
    <div class="row mt-4 text-center">
      <div class="col-1"></div>
      <div class="col-10 devicon">
        <i class="devicon-ruby-plain-wordmark"></i>
        <i class="devicon-rails-plain-wordmark"></i>
        <i class="devicon-javascript-plain"></i>
        <i class="devicon-jquery-plain-wordmark"></i>
        <i class="devicon-html5-plain-wordmark"></i>
        <i class="devicon-css3-plain-wordmark"></i>
        <i class="devicon-sass-original"></i>
        <i class="devicon-bootstrap-plain-wordmark"></i>
        <i class="devicon-postgresql-plain-wordmark"></i>
        <i class="devicon-heroku-original-wordmark"></i>
        <i class="devicon-git-plain-wordmark"></i>
        <i class="devicon-github-original-wordmark"></i>
        <i class="devicon-redis-plain-wordmark"></i>
        <i class="devicon-bash-plain"></i>
        <i class="devicon-amazonwebservices-plain-wordmark"></i>
      </div>
      <div class="col-1"></div>

      <div class="devicon-border"></div>
      <div class="col-1"></div>
        <a href="#projects" class="btn btn-outline-secondary btn-lg col-3 mt-4 mx-auto nav-button">Projects</a>
        <a href="/" class="btn btn-outline-secondary btn-lg col-3 mt-4 mx-auto nav-button">Top</a>
        <a href="#contact" class="btn btn-outline-secondary btn-lg col-3 mt-4 mx-auto nav-button">Contact</a>
      <div class="col-1"></div>
    </div>
  </div>

  <div id="projects"></div>
  <h2 class="mt-4 subtitle-text text-center" id="projects-subtitle">Projects</h2>
  <p class='text-white mt-4 body body-text text-center'>
    These projects are hosted on Heroku, so please give them a few seconds to fire up. Thank you!
  </p>
  
  <div id="carouselExampleDark" class="mt-4 carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="active" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="active" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" class="active" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <a href="https://markbezsonov-photo-app.herokuapp.com/" target="_blank"><%= image_tag 'photo-app.jpg', size:'1925x625', class: 'img-fluid d-block w-100' %></a>
        <div class="carousel-caption bg-dark text-white">
          <h5><a href="https://markbezsonov-photo-app.herokuapp.com/" target="_blank">Photo App</a></h5>
          <div class="row">
            <div class="col-2"></div>
            <p class="col-8 m-2">A picture storage application that where users have access to unlimited image uploads from any
              remote device. Features Sendgrid for email confirmation and the Stripe API for payment handling.</p>
            <div class="col-2"></div>
          </div>
          <div class="badges">
            <span class="badge rounded-pill bg-light text-dark">Ruby 3</span>
            <span class="badge rounded-pill bg-light text-dark">Rails 6</span>
            <span class="badge rounded-pill bg-light text-dark">HTML</span>
            <span class="badge rounded-pill bg-light text-dark">Sass</span>
            <span class="badge rounded-pill bg-light text-dark">Bootstrap 4</span>
            <span class="badge rounded-pill bg-light text-dark">jQuery (Basic)</span>
            <span class="badge rounded-pill bg-light text-dark">PostgreSQL</span>
            <span class="badge rounded-pill bg-light text-dark">Devise</span>
            <span class="badge rounded-pill bg-light text-dark">AJAX</span>
            <span class="badge rounded-pill bg-light text-dark">APIs</span>
            <span class="badge rounded-pill bg-light text-dark">SendGrid</span>
            <span class="badge rounded-pill bg-light text-dark">Stripe</span>
            <span class="badge rounded-pill bg-light text-dark">AWS</span>
          </div>
          <a href="https://markbezsonov-photo-app.herokuapp.com/" target="_blank" class="mt-3 mb-4 mx-1 btn btn-outline-primary">Live</a>
          <a href="https://github.com/MarkBezsonov/photo_app" target="_blank" class="mt-3 mb-4 mx-1 btn btn-outline-success">Repo</a>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="5000">
        <a href="https://markbezsonov-finance-tracker.herokuapp.com/" target="_blank"><%= image_tag 'finance-tracker.jpg', size:'1925x625', class: 'img-fluid d-block w-100' %></a>
        <div class="carousel-caption d-none d-md-block bg-dark text-white">
          <h5><a href="https://markbezsonov-finance-tracker.herokuapp.com/" target="_blank">Finance Tracker</a></h5>
          <div class="row">
            <div class="col-2"></div>
              <p class="col-8 m-2">A stocks application that uses the IEX Cloud API (Sandbox mode) to provide users with real-time information 
                regarding the stocks of their choice. Users can view stock pages, add stocks to a portfolio, and add/view friends and their portfolios.
              </p>
            <div class="col-2"></div>
          </div>
          <div class="badges">
            <span class="badge rounded-pill bg-light text-dark">Ruby v3</span>
            <span class="badge rounded-pill bg-light text-dark">Rails v6</span>
            <span class="badge rounded-pill bg-light text-dark">HTML</span>
            <span class="badge rounded-pill bg-light text-dark">Sass</span>
            <span class="badge rounded-pill bg-light text-dark">Bootstrap v4</span>
            <span class="badge rounded-pill bg-light text-dark">jQuery (Basic)</span>
            <span class="badge rounded-pill bg-light text-dark">Chart.js</span>
            <span class="badge rounded-pill bg-light text-dark">PostgreSQL</span>
            <span class="badge rounded-pill bg-light text-dark">Devise</span>
            <span class="badge rounded-pill bg-light text-dark">AJAX</span>
            <span class="badge rounded-pill bg-light text-dark">APIs</span>
          </div>
          <a href="https://markbezsonov-finance-tracker.herokuapp.com/" target="_blank" class="mt-3 mb-4 mx-1 btn btn-outline-primary">Live</a>
          <a href="https://github.com/MarkBezsonov/finance_tracker" target="_blank" class="mt-3 mb-4 mx-1 btn btn-outline-success">Repo</a>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="5000">
        <a href="https://markbezsonov-message-me.herokuapp.com/" target="_blank"><%= image_tag 'message-me.jpg', size:'1925x625', class: 'img-fluid d-block w-100' %></a>
        <div class="carousel-caption d-none d-md-block bg-dark text-white">
          <h5><a href="https://markbezsonov-message-me.herokuapp.com/" target="_blank">Message Me</a></h5>
          <div class="row">
            <div class="col-2"></div>
            <p class="col-8 m-2">A simple messaging application that utilizes users, sessions, and messages. Uses ActionCable and Redis to keep up-to-date in real time.</p>
            <div class="col-2"></div>
          </div>
          <div class="badges">
            <span class="badge rounded-pill bg-light text-dark">Ruby 2</span>
            <span class="badge rounded-pill bg-light text-dark">Rails 5</span>
            <span class="badge rounded-pill bg-light text-dark">HTML</span>
            <span class="badge rounded-pill bg-light text-dark">Sass</span>
            <span class="badge rounded-pill bg-light text-dark">Semantic UI</span>
            <span class="badge rounded-pill bg-light text-dark">ActionCable (WebSocket)</span>
            <span class="badge rounded-pill bg-light text-dark">PostgreSQL</span>
          </div>
          <a href="https://markbezsonov-message-me.herokuapp.com/" target="_blank" class="mt-3 mb-4 mx-1 btn btn-outline-primary">Live</a>
          <a href="https://github.com/MarkBezsonov/message_me" target="_blank" class="mt-3 mb-4 mx-1 btn btn-outline-success">Repo</a>
        </div>
      </div>
      
      <div class="carousel-item" data-bs-interval="5000">
        <a href="https://markbezsonov-alpha-blog.herokuapp.com/" target="_blank"><%= image_tag 'alpha-blog.jpg', size:'1925x625', class: 'img-fluid d-block w-100' %></a>
        <div class="carousel-caption d-none d-md-block bg-dark text-white">
          <h5><a href="https://markbezsonov-alpha-blog.herokuapp.com/" target="_blank">Alpha Blog</a></h5>
          <div class="row">
            <div class="col-2"></div>
            <p class="col-8 m-2">A blog application that ties in users, articles, and categories. Features administrative features. Uses the Ransack gem for multi-class search.</p>
            <div class="col-2"></div>
          </div>
          <div class="badges">
            <span class="badge rounded-pill bg-light text-dark">Ruby 2</span>
            <span class="badge rounded-pill bg-light text-dark">Rails 6</span>
            <span class="badge rounded-pill bg-light text-dark">HTML</span>
            <span class="badge rounded-pill bg-light text-dark">Sass</span>
            <span class="badge rounded-pill bg-light text-dark">Bootstrap 5</span>
            <span class="badge rounded-pill bg-light text-dark">jQuery (Basic)</span>
            <span class="badge rounded-pill bg-light text-dark">PostgreSQL</span>
          </div>
          <a href="https://markbezsonov-photo-app.herokuapp.com/" target="_blank" class="mt-3 mb-4 mx-1 btn btn-outline-primary">Live</a>
          <a href="https://github.com/MarkBezsonov/photo_app" target="_blank" class="mt-3 mb-4 mx-1 btn btn-outline-success">Repo</a>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <div class="row mt-4">
    <div class="col-1"></div>
      <a href="#contact" class="btn btn-outline-secondary btn-lg col-3 mt-4 mx-auto nav-button">Contact</a>
      <a href="/" class="btn btn-outline-secondary btn-lg col-3 mt-4 mx-auto nav-button">Top</a>
      <a href="#about" class="btn btn-outline-secondary btn-lg col-3 mt-4 mx-auto nav-button">About</a>
    <div class="col-1"></div>
  </div>

  <div id="contact"></div>
  <h2 class="mt-4 subtitle-text text-center" id="contact-subtitle">Contact</h2>
  
  <p class="mt-4 text-white body body-text text-center">
    Please feel free to reach out to me via the following platforms:
  </p>
  <div class="col-12 text-center mt-4" id='socials'>
    <a href="https://github.com/MarkBezsonov" target="_blank"><%= image_tag 'github.jpg', class: 'mx-4 end-socials' %></a>
    <a href="https://www.linkedin.com/in/mark-b-31947b11a/" target="_blank"><%= image_tag 'linkedin.jpg', class: 'mx-4 end-socials' %></a>
    <a href="mailto: markbezsonov@gmail.com?subject=Regarding%20Your%20Portfolio" target="_blank"><%= image_tag 'email.jpg', class: 'mx-4 end-socials' %></a>
  </div>
  <p class="mt-4 mb-4 text-white body body-text text-center">
    Alternatively, you may also send me an email directly here:
  </p>

  <%= render 'contacts/new' %>

  <div class="row mt-4">
    <div class="col-1"></div>
      <a href="#about" class="btn btn-outline-secondary btn-lg col-3 mt-4 mx-auto nav-button">About</a>
      <a href="/" class="btn btn-outline-secondary btn-lg col-3 mt-4 mx-auto nav-button">Top</a>
      <a href="#projects" class="btn btn-outline-secondary btn-lg col-3 mt-4 mx-auto nav-button">Projects</a>
    <div class="col-1"></div>
  </div>

  <div id="end"></div>
</div>